services:
  mongodb:
    image: mongodb/mongodb-community-server:latest
    container_name: portfolio-mongo-dev
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: always

volumes:
  mongo-data:
